:root{
    --col1: #F3EED4;
    --col2: #E3C9B2;
    --col3:#A1BECE;
    --col4:#96A9C2;
    --col5:#f3e5ff;
    --col5d:#cbbfd4;
    --col6:#CDE7CE;    
    --col6d:#a6bba7;    
}

* {
    margin: 0;
}

html{
    /* box-sizing: border-box; */
    background-color: var(--col1);
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: y proximity; */
} 

.blank-space{
    height:200px;
    width:100%;
    background-color: var(--col1);
}