.contactcanvas {
  color: var(--col1);
  /* height:100vh; */
  overflow: hidden;
  background-image: linear-gradient(var(--col3), var(--col1));
  scroll-snap-align: start;
  margin-top: 4rem;
}

#formHead {
  position: relative;
  margin: 10px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#square3 {
  margin-top: 20vh;
  margin-bottom: 20vh;
  background-color: var(--col3);
  border-style:double;
  border-width: 10px;
  border-color: var(--col1);
  width: 80%;
  max-width: 600px;
  height: max-content;
}

input, #message {
  letter-spacing: 1px;
  font-family: initial;
  font-size: 0.875em;
  width: 90%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: var(--col1);
  
  border: solid 1px var(--col1);
  border-left: none;
  border-right: none;
  border-top: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

#name{
  border-top: solid 1px var(--col1);
}

input:hover, #message:hover {
  background: var(--col4);
  color: var(--col2);
}

#message{
  height: 110px;
  max-height: 110px;
  overflow-wrap: break-word;
  font-family: initial;
  padding: 15px;
  resize: none;
}

#submit {
  letter-spacing: 1px;
  width: 97%;
  font-size: 0.875em;
  color: black;
  cursor: pointer;
  border-bottom: none;
}

#submit:hover {
  color: var(--col2);
}

#formReply{
  padding-top:80px;
  padding-bottom:90px
}